<h1>Registro de nuevo usuario</h1>

<p><%= notice %></p>

<%= form_with(model: @user, local: true) do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <br>
  <%= form.label :email %>
  <%= form.text_field :email %>
  <br>
  <%= form.label :password %>
  <%= form.password_field :password %>
  <br>
  <%= form.submit 'Enviar' %>
<% end %>
